::-webkit-scrollbar{
	
	width: 10px;
	
}
::-webkit-scrollbar-track{
	background-color: black;

}
::-webkit-scrollbar-thumb{
	background-color: #777;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #999;
}
body{
	margin: 0;
	padding: 0;
	min-width:1000px;        /* Suppose you want minimum width of 1000px */
  	width: auto !important;  /* Firefox will set width as auto */
    width:1000px;
  font-family: calibri;
}


.main{
	height: 100%;
	background-image: linear-gradient(to right ,#ED213A,#93291E);
	/*position: absolute;*/
}
.nav{
	height: 100px;
	position:relative ;
	top: 30px;
	
}
.container{
	height: 400px;
	margin-bottom: 150px;

	/*background-color: yellow;*/
	
}
.wrap{
	height: 100%;
	width: 400px;
	background-color: white;
	box-shadow: 5px 10px 18px black;
	border-radius: 10px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-content: center;
	/*position: relative;*/

}
.inp{
	width: 300px;
	height: 100%;
	position: relative;
	/*background-color: purple;*/
	
}
.lab2{
	position: absolute;
	top: 80px;


}
.lab1{
	position: absolute;
	top: 40px;
	font-weight: bolder;
	font-size: 28px;

}
form{
	transform: translate(0,50px);
}
.linko{
	color: blue;
	text-decoration: none;
}
.txt{
	width: 200px;
	border: 0px;
	outline: none;
	transform: translate(0,5px);
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	
}
.txt:focus{
	border: 1px solid skyblue;
}
.hr{
	width: 212px;
	float: left;

}
.submit {
  align-items: center;
  background-clip: padding-box;
  background-image: linear-gradient(to right ,#ED213A,#93291E);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.submit:hover,
.submit:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.submit:hover {
  transform: translateY(-1px);
}

.submit:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.outro{
	height: 250px;
	background-color: white;
	color: black;
	font-size: 22px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

:root {
  --primColor: #dcdcdc;
  --secoColor: #555555;
  --cornerRad: 4px;
}
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
details {
  /*margin: 40px;*/
  margin-left: 40px;
}
summary {
  writing-mode: vertical-lr;
  text-align: center;
  padding: 12px 10px;
  width: 23px;
  height: 17px;
  background-color: white;
  
  border-radius: var(--cornerRad);
  color: var(--secoColor);
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
}
summary::before,
summary::after {
  position: static;
  top: 0;
  left: 0;
}
summary::before {
  content: "";
}
summary::after {
  content: "III";
  letter-spacing: -1px;
}
summary:hover {
  transform: scale(1.1);
}
summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .menu {
  animation-name: menuAnim;
}
details[open] summary::before {
  content: "X";
}
details[open] summary::after {
  content: "";
}
.menu {
  height: 0;
  width: fit-content;
  border-radius: var(--cornerRad);
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  animation: closeMenu 300ms ease-in-out forwards;
}
.menu a {
  padding: 12px 24px;
  margin: 0 16px;
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  transition: filter 200ms linear 0s;
}
.menu a:nth-of-type(1) {
  padding-top: 24px;
}
.menu a:nth-last-of-type(1) {
  border-bottom: none;
}
.menu a:hover {
  filter: brightness(200%);
}

details[open]::before {
  animation: fadeMe 300ms linear forwards;
}
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: 312px;
  }
}
@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}*/